html {
    font-size: 20;
}

body {
    margin: 25 25 25 25;
}

#main_body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(circle, whitesmoke, rgb(226, 226, 226));

    margin: 0 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sourceCode {
    background: grey;
}

.name {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 33%;
    left: none;
    height: 160;
    border-radius: 50% 50% 50% 50%;
}

#ball {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 60%;
    left: none;
    width: 100;
    height: 100;
    background-image: radial-gradient(rgb(67, 125, 231) , rgb(80, 114, 177), rgb(14, 45, 102));
    border-radius: 50% 50% 50% 50%;
    transform: translate(0, 0px);

}


.projects-bubble {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 20%;
    left: 5%;
    width: 160;
    height: 120;
    background-image: linear-gradient(to right, rgb(103, 206, 209) , rgb(67, 167, 170));
    border-radius: 50% 50% 50% 50%;
}

.resume-bubble {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 65%;
    right: 17%;
    width: 160;
    height: 120;
    background-image: linear-gradient(to right, rgb(80, 199, 106) , rgb(58, 155, 79));
    border-radius: 50% 50% 50% 50%;
}

.blogs-bubble {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    bottom: 15%;
    left: 15%;
    width: 160;
    height: 120;
    background-image: linear-gradient(to right, rgb(154, 69, 233) , rgb(96, 17, 170));
    border-radius: 50% 50% 50% 50%;
}

.about-bubble {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 15%;
    right: 15%;
    width: 160;
    height: 120;
    background-image: linear-gradient(to right, rgb(252, 113, 245) , rgb(197, 77, 191));
    border-radius: 50% 50% 50% 50%;
}

h1 {
    opacity: 100%;
    text-align: center;
}

h2 {
    margin: 7px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    transition: 0.3s;
    opacity: 50%;
}

a:active {
    animation-delay: 0s;
    animation-duration: 1s;
    animation-name: expand;
}

.noselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tl-bubble {
    animation-name: floating1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}


.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, -20px);
    }

    100% {
        transform: translate(0, -0px);
    }
}

table,
th,
td {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5;
}

.project_card {
    margin: 15px;
    padding: 5px 10px 5px 10px;
    background: rgb(60, 206, 216);
    height: 500px;
    width: 400px;
    display: inline-block;
    box-shadow: 5px 10px gray;
    border-radius: 20px;
    vertical-align: top;
}

.project_card:hover {
    background-color: yellow;
}

.card_text {
    display: inline-block;
}

.card_image {
    width: auto;
    height: 240px;
}

.wrapper {
    text-align: center;
    margin: 0 auto;
}

.about {
    position: absolute;
    width: 75%;
    text-align: justify;
    right: 12.5%;
    overflow: auto;
    padding-bottom: 50;
}