html {
    font-size: 20;
}

body {
    margin: 25 25 25 25;
}

#main_body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: whitesmoke;
    margin: 0 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 35%;
    left: none;
    width: 200;
    height: 160;
    background: rgb(80, 114, 177);
    border-radius: 50% 50% 50% 50%;
}

.projects {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 20%;
    left: 5%;
    width: 160;
    height: 120;
    background: rgb(103, 206, 209);
    border-radius: 50% 50% 50% 50%;
}

.resume {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 60%;
    right: 20%;
    width: 160;
    height: 120;
    background: rgb(80, 199, 106);
    border-radius: 50% 50% 50% 50%;
}

.playground {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    bottom: 15%;
    left: 15%;
    width: 160;
    height: 120;
    background: rgb(139, 38, 235);
    border-radius: 50% 50% 50% 50%;
}

.contact {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 15%;
    right: 15%;
    width: 160;
    height: 120;
    background: rgb(236, 96, 229);
    border-radius: 50% 50% 50% 50%;
}

h1 {
    opacity: 100%;
    text-align: center;
}

h2 {
    margin: 7px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    transition: 0.3s;
    opacity: 50%;
}

a:active {
    animation-delay: 0s;
    animation-duration: 1s;
    animation-name: expand;
}

.noselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, -20px);
    }
    100% {
        transform: translate(0, -0px);
    }
}

table,
th,
td {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5;
}

.project_card {
    margin: 15px;
    padding: 5px 5px 5px 5px;
    background: rgb(60, 206, 216);
    height: 500px;
    width: 400px;
    display: inline-block;
    box-shadow: 5px 10px gray;
    border-radius: 20px;
    ;
}

.project_card:hover {
    background-color: yellow;
}

.card_image {
    width: 340px;
    height: auto;
}

.wrapper {
    text-align: center;
    margin: 0 auto;
}